<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">
 
<!-- 	<security:http auto-config="true" use-expressions="true"> -->
<!-- 		<security:intercept-url pattern="/" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" /> -->
<!-- 		<security:form-login login-page="/login" -->
<!-- 			default-target-url="/"  -->
<!-- 			username-parameter="username" -->
<!-- 			password-parameter="password"  -->
<!-- 			login-processing-url="/auth/login_check" /> -->
<!-- 		<security:remember-me  -->
<!-- 			key="myUniqueApplicationKey"  -->
<!-- 			user-service-ref="userDetailsServiceImpl"  -->
<!-- 			remember-me-parameter="remember-me" /> -->
<!-- 	</security:http> -->
	 
<!-- 	<security:authentication-manager> -->
<!-- 	  <security:authentication-provider> -->
<!-- 		<security:jdbc-user-service data-source-ref="dataSource" /> -->
<!-- 	  </security:authentication-provider> -->
<!-- 	</security:authentication-manager> -->
 
	<context:component-scan base-package="org.jyougo.springsocial" />
 
</beans:beans>